body {
    background-image: url('./../sources/bar-background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
}

#outprint {
 color:white; 
}

.drinkImage {
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 8px;
  padding: 5px;
  height: 5rem;
}

a {
  text-decoration: inherit;
  color:inherit;
}
